{%extends "bootstrap/base.html" %}

{% block content %}
<html lang="en" class="page-primary-col--red">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
  <!-- include Critical CSS -->
  <!-- For all licensing considerations please contact ashley.j.hislop@pwc.com. -->
  <!-- Bootstrap warning  -->
    <!--
      Important: Including the entire Bootstrap framework may negatively affect the supplied components.
    -->

    <!-- Include common CSS -->
    <link href="static/base.css" rel="stylesheet" />
    <!-- Either include additional component stylesheets below or combine base.css with your other stylesheets -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>

   <header>
    <div class="container">
      <img src="/static/pwc-logo.png" width="110" height="84">
    </div>
    <link href="static/title-strip.css" rel="stylesheet">
    <div class="title-strip title-strip--functional dpe-component-wrapper">
      <header class="title-strip__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1 class="title-strip__heading">PwC DataLab : Machine Learning Application with Flask</h1>
            </div>

          </div>
        </div>
      </header>
    </div>
  </header> 
    <div class="page-container" role="main">

      <!-- Usage note: Begin adding page sections here -->
      <!-- Usage note: first section added below -->
      <section class="page-section page-section--no-pad fullwidth section-col--white" >
        <div class="parsys sectionpar">
          <!-- Usage note: replace the following with component snippet HTML --> 
          <br><br><br><br>
          <div class="container">
            <!-- Details Page  -->
            <div class="row">
             <!-- Viewing Dataset As a Table-->
             <div class="col-md-6">
              <p><a href="{{ url_for('home')}}" type="button" class="btn btn-danger" > Return</a></p>
              <button onclick="displayDataset()" class="btn btn-primary">View Dataset</button>
              <br/>
              <br/>
               <b><p><font face="georgia" size="4">This dataset was downloaded in the path {{ path }} as predictions.csv</font></p></b>
              <br/>
              <br/>
              <div id="myDIV">
                {{ dfplot.to_html(classes="table table-striped table-hover",na_rep="-") | safe}}
              </div>
            </div>          
          </div>
        </div>
        <br><br><br><br>
      </div>
    </section>

  </body>
      {% endblock %}

      <!-- Main External 3-Party JS Is Here -->

      {% block scripts %}

      {{ super() }} 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

      <!-- Function for Displaying Table -->
      <script>
        function displayDataset() {
          var x = document.getElementById("myDIV");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
      </script>



      {% endblock%}



